canvas{
    position: absolute;
    top: 0;
}

#gyro{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    color: white;
    font-size: 20px;
}

#accel{
    font-family: 'Roboto', sans-serif;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 20px;
}